{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Page Title-->
    <div class="d-flex flex-column p-5 bg-primary align-items-center py-5">
        <div class="fs-1 mt-2 mb-3 text-white s1" style="letter-spacing: 5px;">
            <h1><b>ArtCon</b></h1>
        </div>
        <div class="fs-5 fw-bolder mt-3 mb-3 text-white s1" style= "letter-spacing: 10px;">당신에게 딱  맞는 전시회</div>
    </div>
    <!-- End Page Title-->


    <!-- Start Banner Hero -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>
        <a class="carousel-control-prev w-auto ps-3" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-left" aria-hidden="true"></span>
            <i class="fa fa-chevron-left"></i>
        </a>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <a href = "{% url 'exhibit:exhibition' banner1.0.id %}">
                <div class="container align-items-center">
                    <div class="row p-3">
                        <div class="mx-auto col-md-8 col-lg-4 align-items-center">
                            <img id='bannerimg1' class="img-fluid bannerSize" src="{{banner1.0.P_Img}}" alt="Slide1">
                        </div>
                        <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                            <h3 class="h3 mb-4">{{banner1.0.P_name}}</h3>
                            <p class="h5">{{banner1.0.L_name}}</p>
                            <p class="h5">{{banner1.0.P_startdate}} - {{banner1.0.P_enddate}}</p>
                        </div>
                    </div>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href = "{% url 'exhibit:exhibition' banner2.0.id %}">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-8 col-lg-4 align-items-center">
                            <img id='bannerimg2' class="img-fluid bannerSize" src="{{banner2.0.P_Img}}" alt="Slide2">
                        </div>
                        <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                            <h3 class="h3 mb-4">{{banner2.0.P_name}}</h3>
                            <p class="h5">{{banner2.0.L_name}}</p>
                            <p class="h5">{{banner2.0.P_startdate}}~{{banner2.0.P_enddate}}</p>
                        </div>
                    </div>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href = "{% url 'exhibit:exhibition' banner3.0.id %}">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-8 col-lg-4 align-items-center">
                            <img id='bannerimg3' class="img-fluid bannerSize" src="{{banner3.0.P_Img}}" alt="Slide3">
                        </div>
                        <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                            <h3 class="h3 mb-4">{{banner3.0.P_name}}</h3>
                            <p class="h5">{{banner3.0.L_name}}</p>
                            <p class="h5">{{banner3.0.P_startdate}}~{{banner3.0.P_enddate}}</p>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
        <a class="carousel-control-next text-decoration-none" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-prev-right" aria-hidden="true"></span>
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-left pt-3">
            <div class="pt-5 m-auto">
                <h3 class="h2 fw-bold">추천 전시회</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-md-3 col-sm-3 p-3 mt-3">
                <a id="test1" href="{% url 'exhibit:exhibition' recommend1.0.id %}"><img src = "{{recommend1.0.P_Img}}",id='recommendimg1' class="rounded-3 posterSize img-fluid border-opacity-25 "></a>
            </div>
            <div class="col-2 col-md-3 col-sm-3 p-3 mt-3">
                <a id="test2" href="{% url 'exhibit:exhibition' recommend2.0.id %}"><img src = "{{recommend2.0.P_Img}}",id='recommendimg2' class="rounded-3 posterSize img-fluid border-opacity-25 "></a>
            </div>
            <div class="col-2 col-md-3 col-sm-3 p-3 mt-3">
                <a id="test3" href="{% url 'exhibit:exhibition' recommend3.0.id %}"><img src = "{{recommend3.0.P_Img}}",id='recommendimg3' class="rounded-3 posterSize img-fluid border-opacity-25 "></a>
            </div>
            <div class="col-2 col-md-3 col-sm-3 p-3 mt-3">
                <a id="test4" href="{% url 'exhibit:exhibition' recommend4.0.id %}"><img src = "{{recommend4.0.P_Img}}",id='recommendimg4' class="rounded-3 posterSize img-fluid border-opacity-25 "></a>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->

    {% endblock %}