{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Page Title-->
    <div class="d-flex flex-column p-5 bg-primary align-items-center py-5">
        <div class="fs-1 mt-2 mb-3 text-white s1" style="letter-spacing: 5px;">
            <h1><b>ArtCon</b></h1>
        </div>
        <div class="fs-5 fw-bolder mt-3 mb-3 text-white s1" style= "letter-spacing: 10px;">당신에게 딱  맞는 전시회</div>
    </div>
    <!-- End Page Title-->


    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-6 col-lg-4 order-lg-last">
                            <img id='bannerimg1' class="img-fluid w-100 h-100" src="{{banner1.0.img}}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                            <h3 class="h3">광고 배너 문의</h3>
                            <br>
                            <p class="h5">Tel: 010-1234-XXXX</p>
                            <p class="h5">Email: ArtCon@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-6 col-lg-4 order-lg-last">
                            <img id='bannerimg2' class="img-fluid" src="{{banner2.0.img}}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                            <h3 class="h3">광고 배너 문의</h3>
                            <br>
                            <p class="h5">Tel: 010-1234-XXXX</p>
                            <p class="h5">Email: ArtCon@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-6 col-lg-4 order-lg-last">
                            <img id='bannerimg3' class="img-fluid" src="{{banner3.0.img}}" alt="">
                        </div>
                        <div class="col-lg-4 mb-0 d-flex align-items-center">
                            <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                                <h3 class="h3">광고 배너 문의</h3>
                                <br>
                                <p class="h5">Tel: 010-1234-XXXX</p>
                                <p class="h5">Email: ArtCon@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-4 m-auto">
                <h3 class="h3">추천 전시회</h3>
            </div>
        </div>
        <script>
            // 이미지 태그에 id 넣었는데 수정 필요할지도
            // 이미지 별로 사이즈 조정 필요할지도
            // 변수명 맘에 안들면 수정 필요할지도
            // 함수 위치 맘에 안 들면 수정 필요할지도
            //window.onload = function(){
            //    var recommendRaw1 = {{ recommend1|safe }};
            //    var recommendRaw2 = {{ recommend2|safe }};
            //    var recommendRaw3 = {{ recommend3|safe }};
            //    var recommendRaw4 = {{ recommend4|safe }};
            //    var bannerRaw1 = {{ banner1|safe }};
            //    var bannerRaw2 = {{ banner2|safe }};
            //    var bannerRaw3 = {{ banner3|safe }};
            //    var imgRecommend1 = recommendRaw1[0]['fields']['img'];
            //    var imgRecommend2 = recommendRaw2[0]['fields']['img'];
            //    var imgRecommend3 = recommendRaw3[0]['fields']['img'];
            //    var imgRecommend4 = recommendRaw4[0]['fields']['img'];
            //    // a태그에 value 추가(pk) <= exhibit id
            //    var valRecommend1 = recommendRaw1[0]['pk'];
            //    var valRecommend2 = recommendRaw2[0]['pk'];
            //    var valRecommend3 = recommendRaw3[0]['pk'];
            //    var valRecommend4 = recommendRaw4[0]['pk'];
            //    var imgBanner1 = bannerRaw1[0]['fields']['img'];
            //    var imgBanner2 = bannerRaw2[0]['fields']['img'];
            //    var imgBanner3 = bannerRaw3[0]['fields']['img'];
            //    $('#recommendimg1').attr('src',imgRecommend1);
            //    $('#recommendimg2').attr('src',imgRecommend2);
            //    $('#recommendimg3').attr('src',imgRecommend3);
            //    $('#recommendimg4').attr('src',imgRecommend4);
            //    $('#bannerimg1').attr('src',imgBanner1);
            //    $('#bannerimg2').attr('src',imgBanner2);
            //    $('#bannerimg3').attr('src',imgBanner3);
            //    $('#test1').attr('href',"{% url 'exhibition' %}?exhibitID="+valRecommend1);
            //    $('#test2').attr('href',"{% url 'exhibition' %}?exhibitID="+valRecommend2);
            //    $('#test3').attr('href',"{% url 'exhibition' %}?exhibitID="+valRecommend3);
            //    $('#test4').attr('href',"{% url 'exhibition' %}?exhibitID="+valRecommend4);
            
            //};
            
        </script>
        <div class="row">
            <div class="col-2 col-md-3 p-3 mt-3">
                <a id="test1" href="{% url 'exhibition' %}?exhibitID={{recommend1.0.id}}"><img src = "{{recommend1.0.img}}",id='recommendimg1' class="rounded-3 img-fluid border-opacity-25"></a>
            </div>
            <div class="col-2 col-md-3 p-3 mt-3">
                <a id="test2" href="{% url 'exhibition' %}?exhibitID={{recommend2.0.id}}"><img src = "{{recommend2.0.img}}",id='recommendimg2' class="rounded-3 img-fluid  border-opacity-25"></a>
            </div>
            <div class="col-2 col-md-3 p-3 mt-3">
                <a id="test3" href="{% url 'exhibition' %}?exhibitID={{recommend3.0.id}}"><img src = "{{recommend3.0.img}}",id='recommendimg3' class="rounded-3 img-fluid  border-opacity-25"></a>
            </div>
            <div class="col-2 col-md-3 p-3 mt-3">
                <a id="test4" href="{% url 'exhibition' %}?exhibitID={{recommend4.0.id}}"><img src = "{{recommend4.0.img}}",id='recommendimg4' class="rounded-3 img-fluid  border-opacity-25"></a>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
    </script>
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // function goExhibitSingle(){
        //     $('#recommendimg1').attr('value').submit();
        // }
        $('recommendimg1').click(function(this) {
            $('this').attr('val').submit();
        })
    </script>

    <!-- Start Featured Product
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-4 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 mb-2">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="img/feature_prod_01.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$220.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Gym Weight</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-muted">Reviews (22)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="img/feature_prod_02.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$280.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Cloud Nike Shoes</a>
                            <p class="card-text">
                                Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                            </p>
                            <p class="text-muted">Reviews (28)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="img/feature_prod_03.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$360.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Summer Addides Shoes</a>
                            <p class="card-text">
                                Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                            </p>
                            <p class="text-muted">Reviews (72)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     End Featured Product -->


    {% endblock %}