{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Page Title-->
    <div class="d-flex flex-column p-5 bg-primary align-items-center py-5">
        <div class="fs-1 mt-2 mb-3 text-white s1" style="letter-spacing: 5px;">
            <h1><b>ArtCon</b></h1>
        </div>
        <div class="fs-5 fw-bolder mt-3 mb-3 text-white s1" style= "letter-spacing: 10px;">당신에게 딱  맞는 전시회</div>
    </div>
    <!-- End Page Title-->


    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-6 col-lg-4 order-lg-last">
                            <img class="img-fluid w-100 h-100" src="{% static 'img/banner_img_01.jpg'%}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                            <h3 class="h3">광고 배너 문의</h3>
                            <br>
                            <p class="h5">Tel: 010-1234-XXXX</p>
                            <p class="h5">Email: ArtCon@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-6 col-lg-4 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/banner_img_02.jpg'%}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                            <h3 class="h3">광고 배너 문의</h3>
                            <br>
                            <p class="h5">Tel: 010-1234-XXXX</p>
                            <p class="h5">Email: ArtCon@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-3">
                        <div class="mx-auto col-md-6 col-lg-4 order-lg-last">
                            <img class="img-fluid" src="{% static 'img/banner_img_03.jpg'%}" alt="">
                        </div>
                        <div class="col-lg-4 mb-0 d-flex align-items-center">
                            <div class="col-lg-6 mb-0 align-items-center align-self-center m-3">
                                <h3 class="h3">광고 배너 문의</h3>
                                <br>
                                <p class="h5">Tel: 010-1234-XXXX</p>
                                <p class="h5">Email: ArtCon@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-4 m-auto">
                <h3 class="h3">추천 전시회</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-md-3 p-3 mt-3">
                <a href="{% url 'exhibition' %}"><img src="{% static 'img/피카소와 20세기 거장들.gif'%}" class="rounded-3 img-fluid border-opacity-25"></a>
            </div>
            <div class="col-2 col-md-3 p-3 mt-3">
                <a href="{% url 'exhibition' %}"><img src="{% static 'img/제이알 크로니클스.gif'%}" class="rounded-3 img-fluid  border-opacity-25"></a>
            </div>
            <div class="col-2 col-md-3 p-3 mt-3">
                <a href="{% url 'exhibition' %}"><img src="{% static 'img/에드워드 호퍼 길 위에서.gif'%}" class="rounded-3 img-fluid  border-opacity-25"></a>
            </div>
            <div class="col-2 col-md-3 p-3 mt-3">
                <a href="{% url 'exhibition' %}"><img src="{% static 'img/뒤피.gif'%}" class="rounded-3 img-fluid  border-opacity-25"></a>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-4 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 mb-2">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="img/feature_prod_01.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$220.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Gym Weight</a>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                            </p>
                            <p class="text-muted">Reviews (22)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="img/feature_prod_02.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$280.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Cloud Nike Shoes</a>
                            <p class="card-text">
                                Aenean gravida dignissim finibus. Nullam ipsum diam, posuere vitae pharetra sed, commodo ullamcorper.
                            </p>
                            <p class="text-muted">Reviews (28)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-2">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="img/feature_prod_03.jpg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$360.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Summer Addides Shoes</a>
                            <p class="card-text">
                                Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                            </p>
                            <p class="text-muted">Reviews (72)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     End Featured Product -->


    {% endblock %}