{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h4 class="h4">전시회 제목</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <br>
            </div>
            <div>
                <!--Start Kakao Map-->
                <div id="map" style="width:500px; height:400px;"></div>
                <!--End Kakao Map-->
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <h1>지도페이지</h1>
                <br>
                <br>
                <div class="row">
                    <div class="card md-6" style="max-width: 550px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 product-wap rounded-0">
                                    <div class="card rounded-0">
                                        <img class="card-img rounded-0 img-fluid" src="./assets/img/에드워드 호퍼 길 위에서.gif">
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">
                                                <li><a class="btn btn-success text-white mt-2" href="single.html"><i class="far fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                <h5 class="card-title fw-bold">에드워드 호퍼 길 위에서</h5>
                                <p class="card-text">20세기 미국 현대미술사를 대표하는 작가 에드워드 호퍼의 국내 첫 대규모 개인전이 열립니다. </p>
                                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                                        </a>
                                    <p><i class="fas fa-regular fa-clock"></i>   08:00~19:00</p>
                                    <p><i class="fas fa-map-marker-alt"></i>   서울시 중구</p>
                                    <a href="single.html" class="btn btn-outline-dark">자세히 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card md-6" style="max-width: 550px;">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" src="/assets/img/피카소와 20세기 거장들.gif">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="single.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                              <h5 class="card-title fw-bold">피카소와 20세기 거장들</h5>
                              <p class="card-text">세계 세 번째 규모의 피카소 컬렉션으로 루드비히 미술관 피카소 소장품 국내 최초 공개. 더불어 20세기 거장들의 마스터피스를 한곳에서 만날 수 있는 특별한 기회.</p>
                              <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                              </a>
                              <p><i class="fas fa-regular fa-clock"></i>   08:00~19:00</p>
                              <p><i class="fas fa-map-marker-alt"></i>   서울시 중구</p>
                              <a href="single.html" class="btn btn-outline-dark">자세히 보기</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p></p>
                    <div class="card md-6" style="max-width: 550px;">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" src="./assets/img/제이알 크로니클스.gif">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="single.html"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                              <h5 class="card-title fw-bold">제이알 크로니클스</h5>
                              <p class="card-text">2019년 뉴옥 미술관을 시작으로 독일에 이어 서울에서 아시아 최초로 선보이는 제이알의 20년간 펼쳐온 행보를 이번 프로젝트를 통해 소개한다.</p>
                              <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                              </a>
                              <p><i class="fas fa-regular fa-clock"></i>   08:00~19:00</p>
                              <p><i class="fas fa-map-marker-alt"></i>   서울시 중구</p>
                              <a href="single.html" class="btn btn-outline-dark">자세히 보기</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-6" style="align-items:center; display: flex; justify-content:center;">
                                <img class="card-img rounded-0 img-fluid" src="./assets/img/지도.gif">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div div="row">
            <ul class="pagination pagination-lg justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

{% endblock %}