{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Content -->
    <div class="container py-5">
        <div class="flex d-flex row">

            <div class="col-md-5 my-5">
                <h1 class="h3 fw-bold mb-3">추천 전시회 목록</h1>
                <!-- Start List of Recommendation-->
                <div class="row">
                    <div class="card md-4" style="max-width: 550px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 product-wap rounded-0">
                                    <div class="card rounded-0">
                                        <img class="card-img rounded-0 img-fluid" src="./img/에드워드 호퍼 길 위에서.gif"/>
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">
                                                <li><a class="btn btn-success text-white mt-2" href="{% url 'exhibition' %}"><i class="far fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                <p class="card-title fw-bold">에드워드 호퍼 길 위에서</p>
                                <p class="card-text fs-6">20세기 미국 현대미술사를 대표하는 작가 에드워드 호퍼의 국내 첫 대규모 개인전이 열립니다. </p>
                                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                                        </a>
                                    <p class="fs-6"><i class="fas fa-regular fa-clock"></i>   08:00~19:00</p>
                                    <p class="fs-6"><i class="fas fa-map-marker-alt"></i>   서울시 중구</p>
                                    <a href="{% url 'exhibition' %}" class="btn btn-sm btn-primary fs-6">자세히 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card md-4" style="max-width: 550px;">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" src="/assets/img/피카소와 20세기 거장들.gif">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'exhibition' %}"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                              <p class="card-title fw-bold">피카소와 20세기 거장들</p>
                              <p class="card-text fs-6">세계 세 번째 규모의 피카소 컬렉션으로 루드비히 미술관 피카소 소장품 국내 최초 공개. 더불어 20세기 거장들의 마스터피스를 한곳에서 만날 수 있는 특별한 기회.</p>
                              <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                              </a>
                              <p class="fs-6"><i class="fas fa-regular fa-clock"></i>   08:00~19:00</p>
                              <p class="fs-6"><i class="fas fa-map-marker-alt"></i>   서울시 중구</p>
                              <a href="{% url 'exhibition' %}" class="btn btn-sm btn-primary fs-6">자세히 보기</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card md-4" style="max-width: 550px;">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" src="./assets/img/제이알 크로니클스.gif">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'exhibition' %}"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                              <p class="card-title fw-bold">제이알 크로니클스</p>
                              <p class="card-text fs-6">2019년 뉴옥 미술관을 시작으로 독일에 이어 서울에서 아시아 최초로 선보이는 제이알의 20년간 펼쳐온 행보를 이번 프로젝트를 통해 소개한다.</p>
                              <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                              </a>
                              <p class="fs-6"><i class="fas fa-regular fa-clock"></i>   08:00~19:00</p>
                              <p class="fs-6"><i class="fas fa-map-marker-alt"></i>   서울시 중구</p>
                              <a href="{% url 'exhibition' %}" class="btn btn-sm btn-primary fs-6">자세히 보기</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- End List of Recommendation-->
            </div>

            <!-- Start Map -->
            <div class="col-md-6 my-5">
                <h1 class="h3 fw-bold mb-3">지도로 찾아보기</h1>
                <div>
                    <!--Start Kakao Map-->
                    <div id="map" class="map border-primary col-md-6" style="width:800px; height:900px;"></div>
                    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=68869ffd346ee561ce8051bca3b782f7"></script>
                    <script>
                        // 유저 위치 받기
                        const userLocation = {
                            x: 33.450701,
                            y: 126.570667
                        };

                        // global kakao
                        const container = document.getElementById('map');
                        const options = { 
                            center: new kakao.maps.LatLng(userLocation.x, userLocation.y), 
                            level: 3
                        };
                        // 지도 생성
                        const map = new kakao.maps.Map(container, options);

                        // 지도 줌 컨트롤
                        const mapTypeControl = new kakao.maps.MapTypeControl();
                        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
                        const zoomControl = new kakao.maps.ZoomControl();
                        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                        // 지도 마커 생성
                        const markerPosition = new kakao.maps.LatLng(userLocation.x, userLocation.y);
                        const marker = new kakao.maps.Marker({
                            position: markerPosition
                        });
                        marker.setMap(map);

                    </script>
                    <!--End Kakao Map-->
                    </div>
                </div>
            </div>
            <!-- End Map-->
        </div>

        <div class="container py-5">
            <div class="row py-1">
                <div class="row">
                    <div class="col text-center mt-2">
                        <button type="button" class="btn btn-outline-primary">1</button>
                        <!--<a href="/write.html"> 다음페이지 연결-->
                        <button type="button" class="btn btn-outline-primary">2</button>
                        <button type="button" class="btn btn-outline-primary">3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <!--<section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>

                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--End Brands-->


{% endblock %}