{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Content -->
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/7.8.4/d3.min.js">const $j784 = jQuery.noConflict();</script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <div class="container py-5">
        <div class="d-flex row">
            <!-- Start Exhibition List -->
            <div class="col-lg-5 col-md-5 my-5">
                <h3 class="h3 fw-bold mb-2">추천 전시회 목록</h3>
                <!-- Start List of Recommendation-->
                <div class="row">
                  {% if exhibits %}
                  {% for exhibit in exhibits %}
                    <div class="card my-2">
                        <div class="row">
                            <div class="col-md-5 py-3">
                                <div class="card product-wap border-0">
                                    <div class="card rounded-0">
                                        <img class="card-img rounded-0 mapPageSize img-fluid" src="{{exhibit.img}}"/>
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-self-center justify-content-center">
                                            <ul class="list-unstyled">
                                                <li><a class="btn btn-primary text-white mt-2" href="{% url 'exhibition' %}?exhibitID={{exhibit.id}}"><i class="far fa-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                <p class="card-title fw-bold mb-3">{{exhibit.E_name}}</p>
                                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                                        </a>
                                    <p class="fs-6"><i class="fas fa-regular fa-calendar" style="margin-right: 3px;"></i>{{exhibit.start_date}} - {{exhibit.end_date}}</p>
                                    <p class="fs-6"><i class="fas fa-map-marker-alt" style="margin-right: 3px;"></i>{{exhibit.L_name}}</p>
                                    <a href="{% url 'exhibition' %}?exhibitID={{exhibit.id}}" class="fs-6">자세히 보기</a>

                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  {% endif %}
                </div>
                <!-- End List of Recommendation-->
            </div>
            <!-- End Exhibition List -->

            <!-- Start Map -->
            <div class="container col-lg-7 col-md-7 my-5">
                <div class="d-flex flex-row align-items-end mb-2">
                  <h1 class="h3 fw-bold">지도로 찾아보기</h1>
                  <button onclick="getLocation()" class="btn btn-primary mx-3">현재 위치 찾기</button>
                </div>                
                <div>                    
                    <div id="map" class="map border-secondary img-fluid" style="width: 800px; height:1000px;"></div>
                    <div id="map_exhibits" value="{{map_exhibits|safe}}">{{map_exhibits|safe}}</div>
                    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=68869ffd346ee561ce8051bca3b782f7"></script>
                    <script>
                    // 좌표 얻어오기
                    // const boundsStr = bounds.toString();      
                    const defaultPosition = new kakao.maps.LatLng(37.566535, 126.9779692);

                    const container = document.getElementById('map');
                    const options = { 
                        center: defaultPosition, 
                        level: 3
                    };

                    // 지도 생성
                    const map = new kakao.maps.Map(container, options);
                    
                    // window.onload = setMap(defaultPosition);
                    kakao.maps.event.addListener(map, 'bounds_changed', function() {
                        let bounds = map.getBounds();
                        const boundsStr = bounds.toString();
                        const myRe = /\d+\.+\d+/gi
                        const SWNE = boundsStr.match(myRe)
                        $.ajax({
                            type: "POST",
                            headers: {'X-CSRFToken': csrftoken},
                            url: "/recommend/",
                            data: {
                                s : SWNE[0],
                                w : SWNE[1],
                                n : SWNE[2],
                                e : SWNE[3]
                            },
                            success: function(response) {
                                const position = []
                                const exhibits = Object.values(response)
                                for(let i = 0; i < exhibits[0].length; i++){
                                    marker = {}
                                    marker['title'] = exhibits[0][i]['E_name']
                                    marker['latlng'] = new kakao.maps.LatLng(exhibits[0][i]['x'], exhibits[0][i]['y'])
                                    position.push(marker);
                                }
                                const positions = {
                                    content: '{{ exhibit.E_name }}',
                                    latlng: marker['latlng']
                                }
                                
                                const imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
                                for (let i = 0; i < position.length; i ++) {      
                                    const imageSize = new kakao.maps.Size(24, 35);                       
                                    const markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
                                    const marker = new kakao.maps.Marker({
                                        map: map,
                                        position: position[i].latlng, 
                                        title : position[i].title,
                                        image : markerImage
                                    });
                                    const ininfowindow = new kakao.maps.InfoWindow({
                                        content: positions[i].content
                                    });
                                    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                                    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                                };

                                function makeOverListener(map, marker, infowindow) {
                                    return function() {
                                        infowindow.open(map, marker);
                                    };
                                }
                                function makeOutListener(infowindow) {
                                    return function() {
                                        infowindow.close();
                                    };
                                }
                            } 
                        });
                    });
                    function getLocation() {
                        if(navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(
                                function successCallback(position) {
                                    const x = position.coords.latitude;
                                    const y = position.coords.longitude;
                    
                                const options = { 
                                    center: new kakao.maps.LatLng(x, y), 
                                    level: 3
                                };
                                const userMarker = new kakao.maps.Marker({
                                  position: options.center
                                })
                                // 지도 생성
                                const map = new kakao.maps.Map(container, options);
                                userMarker.setMap(map);
                                let bounds = map.getBounds();
                                const boundsStr = bounds.toString();

                                // 지도 줌 컨트롤
                                const mapTypeControl = new kakao.maps.MapTypeControl();
                                map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
                                const zoomControl = new kakao.maps.ZoomControl();
                                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
                            }, function errorCallback() {
                                            defaultPosition;
                                        }
                                    )
                                }
                                }


                    </script>
                    <!--End Kakao Map-->
                </div>
            </div>
            <!-- End Map-->
        </div>

        <div class="container py-5">
            <div class="row py-1">
                <div class="row">
                    <div class="col text-center mt-2">
                        <button type="button" class="btn btn-outline-primary">1</button>
                        <button type="button" class="btn btn-outline-primary">2</button>
                        <button type="button" class="btn btn-outline-primary">3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->


{% endblock %}