{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <title>ArtCon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico'%}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css'%}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;200;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
</head>

<body class="d-flex flex-column">

    <!-- Start Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                <a class="align-self-center fs-3" href="{% url 'mainPage' %}">
                    <img class="logoSize" src="{% static 'img/Logo.png'%}">
                </a>
            </div>
            
            <button class="navbar-toggler -0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link fs-6 fw-bold" href="{% url 'mainPage' %}">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-6 fw-bold" href="{% url 'search:search' %}">검색</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-6 fw-bold" href="{% url 'recommend' %}">추천 전시회</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-6 fw-bold" href="{% url 'board:board' %}">모임 게시판</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="전시회 검색">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline m-2" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark"></i>
                    </a>
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}" > {% csrf_token %}
                        <a href="{% url 'authpage_app:myPage' %}" class="text-dark fs-6 text-normal text-decoration-none mx-1">마이페이지</a>
                        <button type="submit" class="btn btn-primary ml-3">로그아웃</button>
                    </form>
                    {% endif %}
                    {% if user.is_anonymous %}

                    <a href="{% url 'authpage_app:login' %}" class="btn btn-primary rounded-1 text-white m-1 fw-normal">로그인</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Header -->
    {% block content %}

    {% endblock %}
    <!-- Start Footer -->
    <footer class="bg-secondary" id="tempaltemo_footer">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 pt-3 my-1">
                    <h3 class="h3 text-primary -bottom pb-3 -light logo">ArtCon<hr></h3>
                    <ul class="list-unstyled text-dark footer-link-list">
                        <li>
                            <i class="fa fa-map-marker-alt fa-fw"></i>
                            경기도 용인시 처인구 모현읍 외대로 81
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none text-dark" href="mailto:artcon2023@gmail.com">artcon2023@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 pt-3 my-1">
                    <h3 class="h3 text-dark -bottom pb-3 -light">Info<hr class="text-primary"></h3>
                    <ul class="list-unstyled footer-link-list">
                        <li><a class="text-decoration-none text-dark" href="{% url 'mainPage' %}">Home</a></li>
                        <li><a class="text-decoration-none text-dark" href="mailto:artcon2023@gmail.com">Contact</a></li>
                    </ul>
                </div>
                <div class="row text-light my-3">
                    <div class="col-auto me-auto">
                        <ul class="list-inline text-left footer-icons">
                            <li class="list-inline-item  -light rounded-circle text-center">
                                <a class="text-dark text-decoration-none" target="_blank" href="http://facebook.com/profile.php?id=100093355740659"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                            </li>
                            <li class="list-inline-item  -light rounded-circle text-center">
                                <a class="text-dark text-decoration-none" target="_blank" href="https://www.instagram.com/artcon_connect"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            
        </div>

        <div class="w-100 bg-primary py-1">
            <div class="container">
                <div class="row mt-1">
                    <div class="col-12">
                        <p class="text-left text-secondary fw-light fs-6">
                            Copyright &copy; 2023 ArtCon
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js'%}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/templatemo.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
    <!-- End Script -->
</body>

</html>