{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Login -->
    <div class="row mt-5 mb-5 pt-5 pb-5 justify-content-center align-items-center text-center">
        <div class="mb-5">
            <p>계정이 없으신가요? <a href="{% url 'register' %}" class="text-decoration-underline text-body">회원가입</a> </p>
        </div>
        <div class="mb-3">
            <h1 style="font-weight: 700; font-size: 50px;">ArtCon</h1>
            <p class="fw-bold fs-5">로그인</p>
        </div>
        <div class="col-3 p-2">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="id">
                <label for="floatingInput">아이디</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">비밀번호</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">로그인</button>
            </div>
            <div class="mb-5">
                <hr/>
            </div>
        </div>
        <div class="mt-5 mb-5">
            <a href="{% url 'findPassword' %}" class="text-decoration-underline text-body">비밀번호를 잊어버리셨나요?</a>
        </div>
    </div>
    <!-- Close Login -->
{% endblock %}