{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Content Page -->
    <div class="container bg-white my-5 align-self-center">
      <div class="container py-5 d-flex d-row justify-content-between">
        <div class="mb-3">
          <h1 class="fs-1 fw-bold">공유 게시판</p>
          <p><b class="fs-5">공지사항</b> 📢 비방용 목적의 글은 통보없이 삭제될 수 있습니다. </p>
        </div>
      </div>
        
      <div class="d-flex flex-row align-items-end justify-content-between">
        <div>
          <p>게시글 목록</p>
        </div>
        {% if user.is_authenticated %}
        <div class="align-items-end">
          <a href="{% url 'board:write' %}" class="btn btn-primary btn-lg">글쓰기</a>
        </div>
        {% endif %}
      </div>
        
        <hr class="border border-primary border-3">
        <table class="table table-striped col-md-6">
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">아이디</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
            <th scope="col">조회수</th>
            <th scope="col">태그</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts%}
          {% if post %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'board:board_single' pk=post.id %}" style="text-decoration:none;color:black">{{post.username}}</a></td>
            <td><a href="{% url 'board:board_single' pk=post.id %}" style="text-decoration:none;color:black">{{post.postname}}</a></td>
            <td><a href="{% url 'board:board_single' pk=post.id %}" style="text-decoration:none;color:black">{{post.date}}</a></td>
            <td><a href="{% url 'board:board_single' pk=post.id %}" style="text-decoration:none;color:black">{{post.hits}}</a></td>
            <td><a href="{% url 'board:board_single' pk=post.id %}" style="text-decoration:none;color:black">{{post.tag1}} | {{post.tag2}} | {{post.tag3}}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="container py-2 mb-5">
        <!--<div class="row py-1">
            <form class="col-md-12 m-auto">
                <button type="button" class="btn btn-outline-primary position-relative" style="float:left;">< Prev</button>
                <button type="button" class="btn btn-outline-primary position-relative" style="float:right;"> Next ></button>
            </div>
                <div class="row">
                    <div class="col text-center mt-2">
                        <button type="button" class="btn btn-outline-primary">1</button>
                            <button type="button" class="btn btn-outline-primary">2</button>
                            <button type="button" class="btn btn-outline-primary">3</button>
                        <button type="button" class="btn btn-outline-primary">4</button>
                    </div>
                <div class="row">
                   
                </div>
            </form>
        </div>-->
    </div>
    <!-- End Board -->
    {% endblock %}