{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Content Page -->
    <div class="container bg-white border p-5 my-5 align-self-center">
      <div class="container py-5 d-flex d-row justify-content-between">
        <div class="mb-5">
          <p class="fs-1 fw-bold">공유 게시판</p>
          <p class="fs-5">전시회에 대한 주제를 가지고 자유롭게 글을 써보세요.</p>
          {% if user.is_authenticated %}
        </div>
        <div class="align-items-end">
          <a href="{% url 'write' %}" class="btn btn-primary btn-lg">글쓰기</a>
        </div>
        {% endif %}
      </div>
        <p>게시글</p>
        <hr class="border border-primary border-1">
        <table class="table table-striped col-md-6">
        <thead>
          <tr>
            <th scope="col">글번호</th>
            <th scope="col">이름</th>
            <th scope="col">제목</th>
            <th scope="col">전시회명</th>
            <th scope="col">날짜</th>
          </tr>
        </thead>
        <tbody>
          {% for board in test1_boards%}
          {% if board %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="/board/{{board.id}}" style="text-decoration:none;color:black">{{board.username}}</a></td>
            <td><a href="/board/{{board.id}}" style="text-decoration:none;color:black">{{board.postname}}</a></td>
            <td><a href="/board/{{board.id}}" style="text-decoration:none;color:black">{{board.board_name}}</a></td>
            <td><a href="/board/{{board.id}}" style="text-decoration:none;color:black">{{board.date}}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="container py-3 mb-5">
        <div class="row py-1">
            <form class="col-md-12 m-auto">
                <button type="button" class="btn btn-outline-primary position-relative" style="float:left;">< Prev</button>
                <button type="button" class="btn btn-outline-primary position-relative" style="float:right;"> Next ></button>
            </div>
                <div class="row">
                    <div class="col text-center mt-2">
                        <button type="button" class="btn btn-outline-primary">1</button>
                        <!--<a href="/write.html"> 다음페이지 연결-->
                            <button type="button" class="btn btn-outline-primary">2</button>
                            <button type="button" class="btn btn-outline-primary">3</button>
                        <button type="button" class="btn btn-outline-primary">4</button>
                    </div>
                <div class="row">
                   
                </div>
            </form>
        </div>
    </div>
    <!-- End Board -->
    {% endblock %}