{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="d-flex flex-column p-5 bg-white align-items-center py-3">
            <div class="fs-1 pt-3 text-dark" style="letter-spacing: 5px;">
                <br>
                <p class="fs-1 fw-bold">게시판 글쓰기</p>
            </div>
        </div>
        <div class="container border border-black">
          <span class="m-5">
          <div class="row py-3">
        <form class="col-md-10 m-auto" action="" method='POST' role="form">
          {% csrf_token %}

          {% for form in forms %}
          <div class="mb-5">
            <label for="{{ form.id_for_label }}">{{form.label}}</label>
            {{form}}
          </div>
          {% endfor %}

          {% if error %}
          {{error}}
          {% endif %}
          <div class="row">
            <div class="col text-center mt-2">
              <button type="submit" class="btn btn-outline-primary btn-lg px-3">
                글쓰기
              </button>
            </div>
          </div>
        </form>
      </div>
    </span>
    </div>
    <div class="m-5">
    </div>
</div>

{% endblock %}