{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Page Title -->
    <div class="d-flex flex-column bg-primary align-items-center py-4 pt-4">
        <div class="fw-bold text-white s1" style="letter-spacing: 5px;">
            <h1 class="fw-bold">검색</h1>
        </div>
    </div>
    <!-- Close Page Title -->

    <!-- Start Main Function -->
    <section class="container my-5">
        <div class="d-flex flex-column col-12 my-5 bg-white shadow align-items-center justify-content-center">
            <div class="m-5 p-3 col-lg-6 col-md-8 align-items-center">
                <p class="h3 text-center mb-3"><b class="text-primary fw-bold text-center">날짜</b>로 전시회를 검색해보세요</p>
                    <form action="{% url 'search:search' %}" method="GET">
                      {% csrf_token %}
                      <div class="input-group mt-3 mb-2">
                          <input type="date" class="form-control form-control-lg" name="date" data-placeholder="날짜 선택">
                      </div>
                      <div class="mb-2">
                          <input type="search" class="form-control form-control-lg" name="name" placeholder="(옵션) 전시회 키워드 검색">
                      </div>
                      <div class="my-3">
                          {% for genre in form.category %}
                          <div class="form-check form-check-inline">
                              {{ genre }}
                          </div>
                          {% endfor %}
                      </div>
                      <div class="text-center my-4">
                          <button type="submit" class="btn btn-primary btn-lg text-white">
                              검색하기
                          </button>
                      </div>
                  </form>

                    
                    <div class="flex-row mt-3">
                        {% if searched_name %}
                        <p class="h5">전시회명 : {{ searched_name }}</p>
                        {% endif %}
                        {% if searched_date %}
                        <p class="h5">날짜 : {{searched_date}}</p>
                        {% endif %}
                        {% if searched_genre %}
                        <p class="h5">장르명 : {% for genre in searched_genre %}{{ genre }}<br>{% endfor %}</p>
                        {% endif %}
                    </div>
                   

                  </div>
                </form>
            </div>
        </div>

    <!-- Start Info -->
        <div class="container d-flex flex-column shadow my-5">
            <div class="d-flex flex-row flex-wrap p-5 m-3 align-items-center justify-content-between">
                {% if exhibits %}
                    {% for exhibit in exhibits %}
                    <div class="card d-flex flex-column mx-2 my-3 p-2" style="width: 15rem; height: 25rem;">
                        <a href="{% url 'exhibit:exhibition' exhibit.id %}" class="text-decoration-none text-dark">
                        <img src="{{exhibit.P_Img}}" class="pic-sm" value="이미지 삽입"/>
                        <div class="d-flex flex-column flex-wrap">
                            <p class="card-title text-overflow mb-1">{{exhibit.P_name}}</p>
                            <p class="mb-3 card-text fs-6">{{exhibit.P_startdate}} - {{exhibit.P_enddate}}</p>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                  
                    <div class="d-flex align-self-center justify-content-center">
                        <div class="pagination">
                            <span class="step-links">
                                {% if exhibits.has_previous %}
                                    <a href="{% url 'search:search' %}?page=1{% if searched_name %}&name={{ searched_name }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for genre in searched_genre %}&category={{ genre }}{% endfor %}" class="text-decoration-none">
                                        <i class="fa fa-solid fa-angle-left"></i>
                                    </a>
                                    <a href="{% url 'search:search' %}?page={{ exhibits.previous_page_number }}{% if searched_name %}&name={{ searched_name }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for genre in searched_genre %}&category={{ genre }}{% endfor %}" class="text-decoration-none">
                                        <i class="fa fa-solid fa-angle-double-left"></i>
                                    </a>
                                {% endif %}
                                
                                <span class="current">
                                    Page {{ exhibits.number }} of {{ exhibits.paginator.num_pages }}.
                                </span>
                        
                                {% if exhibits.has_next %}
                                    <a href="{% url 'search:search' %}?page={{ exhibits.next_page_number }}{% if searched_name %}&name={{ searched_name }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for genre in searched_genre %}&category={{ genre }}{% endfor %}" class="text-decoration-none">
                                        <i class="fa fa-solid fa-angle-right"></i>
                                    </a>
                                    <a href="{% url 'search:search' %}?page={{ exhibits.paginator.num_pages }}{% if searched_name %}&name={{ searched_name }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for genre in searched_genre %}&category={{ genre }}{% endfor %}" class="text-decoration-none">
                                        <i class="fa fa-solid fa-angle-double-right"></i>
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    
                
                {% else %}
                  <p> 검색 결과가 없습니다 </p>
                {% endif %}
            </div>
        </div>
    <!-- End Info -->
    </section>
    <!-- End Main Function -->
    
{% endblock %}