{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Page Title -->
    <div class="d-flex flex-column bg-primary align-items-center py-4 pt-4">
        <div class="fw-bold text-white s1" style="letter-spacing: 5px;">
            <h1 class="fw-bold">검색</h1>
        </div>
    </div>
    <!-- Close Page Title -->

    <!-- Start Main Function -->
    <section class="container mt-5 mb-5">
        <div class="d-flex flex-column col-12 my-5 bg-white shadow align-items-center justify-content-center">
            <div class="m-5 p-5 col-lg-6 col-md-8 align-items-center">
                <p class="h3 text-center"><b class="text-primary fw-bold text-center">날짜</b>로 전시회를 검색해보세요</p>
                <form action="{% url 'search' %}" method="POST">
                  <div class="input-group mb-1">
                    <input name="date" type="date" class="form-control form-control-lg my-4" data-placeholder="날짜 선택">
                  </div>
                  <div class="mb-2">
                      {% csrf_token %}
                      <input type="search" class="form-control form-control-lg" name="searched" placeholder="(옵션) 전시회 키워드 검색">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg text-white mt-3">
                      검색하기
                    </button>
                  </div>
                  
                </form>
            </div>
        </div>

    <!-- Start Info -->
        <div class="d-flex bg-white shadow my-5">
            <div class="d-flex text-start m-3 p-5 col-3">
              {% if searched_title %}
                <h3>{{ searched_title }} 검색 결과</h3>
            </div>
            <div class="d-flex flex-column p-5 m-3 col-8">    
                {% for exhibit in exhibits %}
                <div class="d-flex flex-row my-5">
                    <img src="{{exhibit.img}}" class="pic-sm m-3 searchSize" value="이미지 삽입"/>
                    <div class="d-flex flex-column p-3">
                        <p class="h3">{{exhibit.E_name}}</p>
                        <p>{{exhibit.start_date}} - {{exhibit.end_date}}</p>
                        <br/>
                        <a href="{% url 'exhibition' %}?exhibitID={{exhibit.id}}" class="text-decoration-line-underline text-light">자세히 보기</a>
                    </div>
                </div>
                {% endfor %}
                {% elif searched_date %}
                <div class="flex-column">
                   <p class="h2 fw-bold">{{searched_date}}</p>
                   <p class="h2">관람 가능한 전시</p> 
                </div>
            </div>
            <div class="d-flex flex-column p-5 m-3 col-8">
                {% for exhibit in exhibits %}
                <div class="d-flex flex-row my-5">
                    <img src="{{exhibit.img}}" class="pic-sm m-3 searchSize" value="이미지 삽입"/>
                    <div class="d-flex flex-column pt-3 px-5">
                        <p class="h4 fw-normal">{{exhibit.E_name}}</p>
                        <p>{{exhibit.start_date}} - {{exhibit.end_date}}</p>
                        <br/>
                        <a href="{% url 'exhibition' %}?exhibitID={{exhibit.id}}" class="text-decoration-line-underline text-primary">자세히 보기</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}    
            </div>
            <div class="my-5 p-3">
                <p class="h3 text-center">오늘은 어떤 전시회가 보고 싶으신가요?</p>
            </div>
            {% endif %}
        </div>
    <!-- End Info -->
    </section>
    <!-- End Main Function -->
    
{% endblock %}