{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex flex-column bg-primary align-items-center py-4 pt-4">
        <div class="fw-bold text-white s1" style="letter-spacing: 5px;">
            <h1 class="fw-bold">전시회 상세정보</h1>
        </div>
    </div>
    <!-- Open Content -->
    <section class="align-items-center justify-contents-center">
        <div class="container pb-5">
            {% if exhibit %}
            <div class="row">
                <div class="col-lg-4 col-md-5 mt-5">
                    <div class="card mb-5">
                        <img class="card-img col-md-4 singleImgSize" src="{{ exhibit.0.P_Img }}" alt="Card image cap" id="product-detail">
                    </div>
                </div>
            
                <!-- col end -->
                <div class="col-lg-7 col-md-7 mt-5">
                    <div class="card mb-5 p-3">
                        <div class="card-body h-100">
                            <div class="d-flex flex-row">
                                <h3 class="h3 fw-bold px-3">{{ exhibit.0.P_name }}
                                    <div class="d-inline-flex text-nowrap fs-6 border rounded-3 p-1">전시회</div>
                                </h3>   
                            </div>

                            <p class="py-2 px-3 mb-5">
                              {% if avg_rank >= 0 and avg_rank < 1 %}
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                {% elif avg_rank >= 1 and avg_rank < 2 %}
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                {% elif avg_rank >= 2 and avg_rank < 3 %}
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                {% elif avg_rank >= 3 and avg_rank < 4 %}
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                {% elif avg_rank >= 4 and avg_rank < 5 %}
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                              {% else %}
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-star text-warning"></i>
                              {% endif %}
                                <span class="list-inline-item text-dark mx-2">평점 {{avg_rank}}</span>
                            </p>
                            {% if request.user.is_authenticated %}
                            {% if is_followed %}
                              <a href="{% url 'exhibit:unfollow_exhibition' pk %}">Unfollow</a>
                            {% else %}
                              <a href="{% url 'exhibit:follow_exhibition' pk %}">Follow</a>
                            {% endif %}
                          {% else %}
                            <a href="{% url 'authpage_app:login' %}">Login to Follow</a>
                          {% endif %}

                            <div class="d-flex flex-row align-items-center justify-content-between mb-5 px-3">
                                <div class="d-flex flex-column">
                                    <p class="h4 fw-bold">날짜</p>
                                    <p>{{ exhibit.0.P_startdate}} ~ {{ exhibit.0.P_enddate}}</p>
                                </div>
                                <div class="mx-1">
                                    <button onclick = "location.href='{{exhibit.0.url}}'" type="submit" class="btn btn-primary text-nowrap">예약하기</button>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between mb-1 px-3">
                                <div class="d-flex flex-column">
                                    <p class="h4 fw-bold">장소</p>
                                    <p>{{ exhibit.0.L_name }}</p>
                                </div>
                                <div id="exhibitX" dataValue="{{la}}"></div>
                                <div id="exhibitY" dataValue="{{lo}}"></div>
                                <div class="mx-1">
                                    <button onclick="getLocation()" type="submit" class="btn btn-primary text-nowrap">지도보기</a>
                                </div>
                            </div>                            
                            <!-- Start Map -->
                            <div class="my-1 p-2">                                
                                <div id="map" class="img-fluid" style="max-width: 700px; height: 350px;"></div>
                                <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=68869ffd346ee561ce8051bca3b782f7"></script>
                                <script>
                                    const container = document.getElementById('map');
                                    const x = document.getElementById('exhibitX').getAttribute('dataValue')
                                    const y = document.getElementById('exhibitY').getAttribute('dataValue')
                                    const options = { 
                                        center: new kakao.maps.LatLng(x, y), level: 3
                                    };
                                    const marker = new kakao.maps.Marker({
                                        position: options.center
                                    })
                                    // 지도 생성
                                    const map = new kakao.maps.Map(container, options);
                                    marker.setMap(map);
                                    
                                    // 지도 줌 컨트롤
                                    const mapTypeControl = new kakao.maps.MapTypeControl();
                                    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
                                    const zoomControl = new kakao.maps.ZoomControl();
                                    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);                                    
                                </script>
                                <!--End Map-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-5">
              <p class="fs-2 fw-bold">REVIEWS ({{ reviews|length }})</p>
              <hr class="border border-primary">
              <div class="m-3"></div>
              <!--read-->
              {% if reviews %}

              {% endif %}
              <ul>
                {% for review in reviews %}
                  <li>
                    {{ review.username }} - {{ review.rank }} - {{ review.contents }}
                    <form action="{% url 'exhibit:review_likes' pk review.pk %}" method='POST'>
                        {% csrf_token %}
                        {% if user in review.like_users.all %}
                        <button type="submit" class="btn-un btn text-primary" data-bs-toggle="button">
                          <i class="far fa-thumbs-down"></i> {{ review.like_users.count }}
                        </button>
                        {% else %}
                        <button type="submit" class="btn-un btn text-primary" data-bs-toggle="button">
                          <i class="far fa-thumbs-up"></i> {{ review.like_users.count }}
                        </button>
                        {% endif %}
                      </form>
                    <!--delete-->
                    {% if user == review.username %}
                      <form action="{% url 'exhibit:reviews_delete' pk review.pk %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn-Secondary rounded-2">
                          <i class="fas fa-trash-alt"></i>
                       </button>
                      </form>
                    {% endif %}
                  </li>
                {% empty %}
                  <p>리뷰가 없어요..</p>
                {% endfor %}
              </ul>
              
              <hr>
              
              <!--create-->
              {% if request.user.is_authenticated %}
                <form action="{% url 'exhibit:reviews_create' pk %}" method="POST">
                  <div class="input-group mb-5">
                  {% csrf_token %}
                  {% for form in forms %}
                  <div>
                    <label for="{{ form.id_for_label }}">{{form.label}}</label>
                    {{form}}
                  </div>
                  {% endfor %}
                  <button class="btn btn-primary" type="submit" id="button-addon2">리뷰작성</button>
              {% else %}
                <a href="{% url 'authpage_app:login' %}">[리뷰를 작성하려면 로그인하세요.]</a>
              {% endif %}
            </div>
            {% endif %}    
        </div>
    </section>
    <!-- Close Content -->


    <!-- Start Article -->

    <!-- End Article -->

    {% endblock %}