/*Custom Css*/

li a:hover {
  color: #902923;
} 

input .form-control{
    margin-left: 5px;
}

.logoSize {
  width: 90px;
  height: 90px;
}

.posterSize {
  width: 500px; 
  aspect-ratio: 2/3;
  height: auto;
  object-fit: fill;
}

.bannerSize {
  aspect-ratio: 2/3;
  width: 600px;
  height: auto;
  object-fit: contain;
}

.searchSize {
  aspect-ratio: 2/3;
  width: 100px;
  height: auto;
  object-fit:contain;
}

.singleImgSize {
  max-width: 500px;
  height: auto;
}

.recomImgSize {
  width: 400px; 
  height: auto;
}

.a img {
  transition: all 0.1s linear;
}

.a:hover img {
  transform: scale(1.1);
}

/* map */
.map {
    border: 1.5px solid;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -25px;
  text-align: center;
  padding: 5px;
  border-radius: 50px;
}

.carousel-indicators li {
  background-color: var(--bs-primary); 
  border: none;
  border-radius: 50%;
  width: 17px;
  height: 17px; 
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: var(--bs-primary);
}

/* bootstrap */
.bg-opacity-75{
    opacity: .75;
}

.bg-opacity-50{
    opacity: .5;
}

.bg-opacity-25{
    opacity: .25;
}

.border-opacity-25{
    border: 1px solid rgb(59, 113, 202, 0.25);
}

.pic-sm{
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom: 30px;
}

.box-size-sm {
    width: 500px;
    height: 400px;
}

.box-size-md {
    width: 800px;
    height: 400px;
}

.carousel-item > a {
  text-decoration : none;
  color :rgb(65, 65, 65);
}

.navbar > .nav-link > div:hover {
  background-color: #902923;
}

.btn-un {
  display: inline-flex;
}

.btn-un:hover {
  /* disable hover effect */
  color: #902923 !important;
}

.btn-un:active, .btn-un:focus {
  border:none;
  outline: none !important;
  box-shadow: none !important;
  
}

.searchCard {
  width: 50px;
  height: 70px;
  flex-wrap: wrap;

}


